{% extends 'base.html' %}
{% load static %}
{% block keywords %}attestation,attestation certificate,attestation services,covid attestation meaning,attestation synonym,attestation legal definition,how to pronounce attestation,attestation meaning in hindi,attestation synonym,how to pronounce attestation,attestation certificate,attestation letter,attestation example,attestation couvre feu,attestation covid,attestation de déplacement,attestation d'hébergement,attestation derogatoire,attestation sur l'honneur,attestation vaccin ameli,attestation employeur,attestation de déplacement professionnel,attestation de déplacement mars 2021,gouvernement attestation,nouvelle attestation de déplacement{% endblock keywords %}
{% block description %}Save Time & Money On Document Attestation??Almost all embassies require attested and/or notarised documents from travellers submitting their documents. This can be a hassle especially considering the sheer number of documents some embassies ask for. Wish Abroad simplifies this process with our attestation and notarisation services. Once we receive and verify your documents, a Wish Abroad representative will ensure your documents are notarised and ready to be made a part of your application package.{% endblock description %}
{% block title %}Attestation {% endblock title %}
{% block body %}
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Attestation</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="single-post-content">
                        <div class="container">
                            <h3>Save Time & Money On Document Attestation</h3>
                            <p>Almost all embassies require attested and/or notarised documents from travellers submitting their documents. This can be a hassle especially considering the sheer number of documents some embassies ask for. Wish Abroad simplifies this process with our attestation and notarisation services. Once we receive and verify your documents, a Wish Abroad representative will ensure your documents are notarised and ready to be made a part of your application package.</p>
                            <br>
                            <h3>About Wish Abroad Attestation Services</h3>
                            <li>Documents attested/notarised after verification</li>
                            <li>Notary service is available only in Hyderabad, Delhi, Mumbai, Pune, Bangalore, Chennai & Ahmedabad</li>
                            <li>You need to visit any of your nearest Wish Abroad office along with all original documents and a set of photocopy</li>
                            <li>each. Upon verification, we will take it forward for the Notarization</li>
                            <br>
                            <h3>Service Charges</h3>
                            <p>A Service Charge of Rs.2000 (Service tax is applicable) applies for Concierge Services and this fee is in addition to attestation charges.</p>
                            <br>
                            <h3>Terms & Conditions</h3>
                            <li>While delivery of document within India is free, document shipment overseas will be charged extra</li>
                            <li>Time and Vendor fee might vary according to the complexity of the work, availability of supporting documents required for applying, and the location of the service</li>
                            <li>A Service Charge of Rs.2000 (Service tax is applicable) applies for Concierge Services and this fee is in addition to attestation charges.</li>
                            <h3>Apostille</h3>
                            <blockquote>
                                <p>We would like to introduce ourselves as specialists of legalisation documents from all departments like HRD, Home Department Attestation as well as all Embassy Apostille Attestation.</p>
                                <p>We are well managed by a group of young and experienced people with a strong technical and innovative team. We offer a rich service to the clients for all Embassy Attestation. Genuine Attestation Services is the one stop solution center for all Attestation requirements</p>
                                <p>We Provide the Complete process of attestation for your Educational, Non-Educational, Commercial and all other Documents Attestation from HRD, MEA, GAD, SDM, NOTARY, HOME MINISTRY, ALL EMBASSIES, CONSULATE and all other related departments.</p>
                                <p>The entire work is done as per the specific need of our customers & clients within the time frame promised. The services we are offering are given below with lowest price:-</p>
                            </blockquote>
                            <div class="container">
                                <li>Normal Apostle (MEA)</li>
                                <li>Maharashtra + MEA</li>
                                <li>SDM + MEA</li>
                                <li>SDM + Apostille</li>
                                <li>SDM + Apostille WNR</li>
                                <li>CHAMBER + MEA</li>
                                <li>Uae Embassy</li>
                                <li>Notary + Mea + Uae</li>
                                <li>Kuwait Embassy</li>
                                <li>Notary + Mea + Kuwait</li>
                                <li>Vietnam Embassy</li>
                                <li>China Embassy</li>
                                <li>Indonesia Embassy</li>
                                <li>Bahrain Embass</li>
                                <li>Thailand Embassy</li>
                                <li>Malaysia Embassy</li>
                                <li>Philippines Embassy</li>
                                <li>Jordan Embassy</li>
                                <li>Mea + Saudi</li>
                                <li>Sdm + Mea + Saud</li>
                            </div>    
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}