{% extends 'base.html' %}
{% load static %}
{% block keywords %}job opportunities after studying abroad,impact of study abroad on career,benefits of studying abroad for indian students,why return to home country after studying abroad,
study and work abroad scholarship,study abroad professional development,study and work abroad for filipino,work and study abroad for free,study career meaning,study com expert registration,study com glassdoor,study com jobs online,study com expert hiring,career study defence,study com jobs reddit,
study com q&a expert,study career meaning,study.com expert registration,study.com glassdoor,career study defence,study.com jobs online,study.com salary{% endblock keywords %}
{% block description %}
Careers at Wish Abroad Education Agency, Why Join Us? Professional work culture Challenging work environment Scope to acquire new skills Exposure to cutting-edge technology A rewarding and stimulating work place Handsome Pay Packages Current Openings Student Counselor Apply Now (Uk, USA, Canada, France, Germany) Location : Hyderabad Any Graduation and PG Excellent communication skills and more{% endblock description %}
{% block title %}Career Wish Abroad{% endblock title %}
{% block body %}
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Career Wish Abroad</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="post-thumb">
                        <img src="{% static 'assets/images/about/career.jpg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="single-post-content">
                        <h3 class="post-title">Careers At Wish Abroad.:-</h3>
                        <div class="container">
                            <h4 class="post-title">Why Join Us?</h4>
                            <li>Professional work culture</li>
                            <li>Challenging work environment</li>
                            <li>Scope to acquire new skills</li>
                            <li>Exposure to cutting-edge technology</li>
                            <li>A rewarding and stimulating work place</li>
                            <li>Handsome Pay Packages</li>
                            <br>
                            <h3 class="post-title">Current Openings:-</h3>
                            <li>STUDENT COUNSELOR – Apply Now</li>
                            <li>(USA, Canada, France, Germany)</li>
                            <li>Location : Hyderabad</li>
                            <li>Any Graduation and PG</li>
                            <li>Excellent communication skills and 1- 3 yrs in to Education Counselling</li>
                            <li>Any Graduation and PG in relevance is an added advantage. </li>
                            <br>
                            <li>Tele Caller -Apply Now</li>
                            <li>Location : Hyderabad</li>
                            <li>Any Graduation and PG</li>
                            <li>Excellent communication skills and 1- 3 yrs in to Education Counselling</li>
                            <li>Any Graduation and PG in relevance is an added advantage.</li>
                            <br>
                            <li>HR Recruiter - Apply Now</li>
                            <li>Location : Hyderabad</li>
                            <li>Any Graduation and PG</li>
                            <li>Excellent communication skills and 2-5 yrs</li>
                            <li>MBA in HR will be added as an advantage.</li>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}