{% extends 'base.html' %}
{% load static %}
{% block keywords %}contact, wish abroad contact ,cantact us, wish abroad education agency contact {% endblock keywords %}
{% block description %}Contact us if have any problem or any doubt{% endblock description %}

{% block title %}Contact Us {% endblock title %}
{% block body %}
    <!--====== Header End ======-->
<section class="page-header">
    <div class="container">
      <div class="row justify-content-center">
        <div class="col-lg-8 col-xl-8">
          <div class="title-block">
            <h1>Contact Us</h1>
          </div>
        </div>
      </div>
    </div>
</section>



<!-- Contact section start -->
<section class="contact section-padding">
    <div class="container">
        <div class="row justify-content-between">
            <div class="col-xl-4 col-lg-5">
               <div class="contact-info-wrapper mb-5 mb-lg-0">
                   <h3><span>Get in touch</span></h3>
                    <div class="contact-item">
                        <i class="fa fa-envelope"></i>
                        <h5>Wish@abroad.org</h5>
                    </div>

                    <div class="contact-item">
                        <i class="fa fa-phone-alt"></i>
                        <h5>+91 6302 252 300</h5>
                    </div>

                    <div class="contact-item">
                        <i class="fa fa-map-marker"></i>
                        <h5> 7, Sahifa Masjid Rd, Azampura, Malakpet, Hyderabad, Telangana 500024, India </h5>
                    </div>
               </div>
            </div>

            <div class="col-xl-7 col-lg-6">
                <form class="contact__form form-row " method="post" action="/contact" id="contactForm">
                    {% csrf_token %}
                   <div class="row">
                       <div class="col-lg-6">
                           <div class="form-group">
                               <input type="text" id="name" name="name" class="form-control" placeholder="Your Name">
                           </div>
                       </div>
                       
                       <div class="col-lg-6">
                           <div class="form-group">
                               <input type="email" name="email" id="email" class="form-control" placeholder="Email Address">
                           </div>
                       </div>
                       <div class="col-lg-12">
                           <div class="form-group">
                               <input type="text" name="subject" id="subject" class="form-control" placeholder="Subject">
                           </div>
                       </div>
                       
                       <div class="col-lg-12">
                           <div class="form-group">
                               <textarea id="message" name="message" cols="30" rows="6" class="form-control" placeholder="Your Message"></textarea>    
                           </div>
                       </div>
                   </div>

                   <div class="col-lg-12">
                       <div class="text-center">
                           <button class="btn btn-main w-100 rounded" type="submit">Send Message</button>
                       </div>
                   </div>
               </form> 
            </div>
        </div>
    </div>
</section>
<!-- Contact section End -->
{% endblock body %}