{% extends 'base.html' %}
{% load static %}
{% block keywords %}online counselling free,online counselling india,free online counselling india,online counselling
for students,
best online counselling india,free online counselling for students,free online counselling chat 247 india,online
counselling for depression,online counselling free,online counselling india,free online counselling india,best online
counselling india,online counselling for students,free online counselling for students,online counselling courses,online
counselling free,online counselling uk,online counselling australia,online counselling jobs,online counselling
ireland,online counselling ontario,online counselling courses uk,online counselling canada,free online counselling chat
24/7,free online counselling uk,cgdte online counselling 2021,
mp online counselling 2020,free online counselling chat 24/7 uk,free online counselling courses with certificate,mp
online counselling,hp online counselling,bhu online counselling,manastha online counselling,online career
counselling,online angels counselling,online relationship counselling,online psychological counselling,online mental
health counselling,online career counselling free,online relationship counselling free,online level 3 counselling
course,{% endblock keywords %}
{% block description %}Steps to study abroad - Explore procedure for going abroad for studies. Wish Abroad Education
Agency best overseas education counsellor with study abroad services{% endblock description %}
{% block title %}Online Counselling{% endblock title %}
{% block body %}
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="single-post-content">
                        <div class="container">
                            <div class="post-thumb">
                                <img src="{% static 'assets/images/about/online-counselling.png' %}" alt=""
                                    class="img-fluid">
                            </div>
                            <h3 class="post-title">Online Counselling</h3>
                            <blockquote>
                                <p>Wish Abroad is committed to assist you in fulfilling your study abroad dreams and we
                                    can surely reach you digitally if you can’t approach us in person. Our Virtual
                                    connect will help you stay connected with us and get all your queries resolved
                                    relating to Overseas Education from your comfort zone.</p>
                                <p>You just have to register for a free counselling session choosing your desired study
                                    destination and your nearest branch; Wish Abroad's Admission Experts will get back
                                    to you for a One to One Virtual Counselling Session.</p>
                            </blockquote>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


<section class="page-wrapper">
    <div class="tutori-course-content ">
        <div class="container">
            <div class="row">
                <div class="col-lg-12 col-xl-12">
                    <nav class="course-single-tabs learn-press-nav-tabs">
                        <div class="nav nav-tabs course-nav" id="nav-tab" role="tablist">
                            <a class="nav-item nav-link active" id="nav-home-tab" data-bs-toggle="tab" href="#nav-home"
                                role="tab" aria-controls="nav-home-tab" aria-selected="true">Counselling</a>
                            <a class="nav-item nav-link" id="nav-topics-tab" data-bs-toggle="tab" href="#nav-topics"
                                role="tab" aria-controls="nav-topics-tab" aria-selected="false">Program selection</a>
                            <a class="nav-item nav-link" id="nav-instructor-tab" data-bs-toggle="tab"
                                href="#nav-instructor" role="tab" aria-controls="nav-instructor-tab"
                                aria-selected="false">Visa</a>
                            <a class="nav-item nav-link" id="nav-feedback-tab" data-bs-toggle="tab" href="#nav-feedback"
                                role="tab" aria-controls="nav-feedback-tab" aria-selected="false">Travel</a>
                        </div>
                    </nav>


                    <div class="tab-content tutori-course-content" id="nav-tabContent">
                        <div class="tab-pane fade show active" id="nav-home" role="tabpanel"
                            aria-labelledby="nav-home-tab">
                            <div class="single-course-details ">
                                <h4 class="course-title">Wish Abroad Education Agency</h4>
                                <p>Applying for studies abroad is a crucial decision as such we do not limit our Agency just to the right country and university choice, but extend it to help you make the right 'career decision'.</p>
                                <p>There are umpteen top ranking universities worldwide. To narrow down the list to those of the top priority suitable to your profile becomes an arduous task. Here's where our educational Agency play a vital role. Our Admission Advisors who're proficient in profile analysis will assist you in shortlisting the options relevant to your profile and preferences by taking into consideration your educational background and career objectives. They then suggest programs in the countries and universities suiting your preferences.</p>
                                <p>Attend free counselling session and accomplish your most aspired academic goals by choosing the best career path.</p>
                                <div class="course-widget course-info">
                                    <h4 class="course-title">Test Preparation </h4>
                                        <p>Our flagship services include classroom-based training for SAT, ACT, GRE, GMAT as well as English proficiency tests such as IELTS, TOEFL (iBT) and PTE. We provide comprehensive and result-oriented coaching with a focus on personalized attention and flexibility of timings.</p>
                                        <p>Well-researched material, quality instruction, phenomenal book collection, a range of mock tests and an emphasis on excellence makes learning at Wish Abroad Education Agency a pleasurable experience.</p>
                                    <div class="btn-container">
                                        <a href="/ielts" class="btn btn-main rounded">Exam & Coaching</a>
                                    </div>
                                </div>
                            </div>
                        </div>

                        <div class="tab-pane fade" id="nav-topics" role="tabpanel" aria-labelledby="nav-topics-tab">
                            <div class="tutori-course-curriculum">
                                <div class="curriculum-scrollable">
                                    <h4 class="course-title">Country, Program and University Selection </h4>
                                    <p>We provide options in 700+ universities across 29 countries. This is where our Country Counsellors play a key role. They evaluate your profile and provide their expert advice on Institutions and Courses abroad which streamlines your process of shortlisting the country and university. They guide you with options relevant to your career goals as well as your financial plan.</p>
                                    <p>Our counsellors also give you a better understanding of the universities offering scholarships and paid internship programs which help you to plan your financial aspects before you leave your homeland. So take the right guidelines from experts in this field and ensure that you accomplish the goal of pursuing education overseas. Choose the best career path based on your profile.</p>
                                    <div class="btn-container">
                                        <a href="/scholarship-financail-aid" class="btn btn-main rounded">Scholarships & Financail Aid</a>
                                    </div>
                                    <br>
                                    <div class="course-widget course-info">
                                        <h4 class="course-title">Application and Admission Assistance </h4>
                                        <p>Your application to the University speaks volumes about you. It not only reflects your academic profile and subject interests but also mirrors your persona. The university gets an insight into your background through the Statement of Purpose (SOP), Letters of Recommendation(LOR), Motivation Letter, Resume or Curriculum Vitae as well as Essays and other essential documents which are deciding factors for your application to be shortlisted.</p>
                                        <p>Our counsellors give you complete guidelines for drafting SOP, LOR, Resume, Essays and for filling the application forms. You can make good use of the complete handholding right from screening your application to posting it to the universities.
                                            Procedure to Study Abroad</p>
                                        </div>
                                </div>
                            </div>
                        </div>
                        <div class="tab-pane fade" id="nav-instructor" role="tabpanel"
                            aria-labelledby="nav-instructor-tab">
                            <!-- Course instructor start -->
                            <div class="courses-instructor">
                                <div class="single-instructor-box">
                                    <div class="row align-items-center">
                                        <h4 class="course title">Visa Processing </h4>
                                        <p>The most important step in studies abroad is the visa processing. A slight error in this process would make all the other efforts futile. So our counsellors guide you step by step with the visa-processing right from filling in the visa application forms to getting your documents ready and submitting them on time.</p>
                                        <p>We also conduct mock visa interviews to give you a feel of the actual visa interview. (Wherever required)</p>
                                        <p>Our years of experience coupled with High Visa Success Rate makes us the preferred choice for students.</p>
                                    </div>
                                </div>
                            </div>
                            <!-- Conurse  instructor end -->
                        </div>
                        <div class="tab-pane fade" id="nav-feedback" role="tabpanel" aria-labelledby="nav-feedback-tab">
                            <div id="course-reviews">
                                <h4 class="course-title">Travel Assistance </h4>
                                <p>Our auxiliary services pertaining to studies abroad include assistance for travel, accommodation, forex and insurance cover. We make sure that you feel at ease once you land into your dream destination. You can also benefit from our alumni network already studying in numerous universities overseas who can give you a helping hand in times of need. All this is to ensure that you feel at home even in a foreign nation.Travel Assistance Services to Study Abroad </p>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

{% endblock body %}