{% extends 'base.html' %}
{% load static %}
{% block keywords %}{% endblock keywords %}
{% block description %}{% endblock description %}
{% block title %} Study In Europe {% endblock title %}
{% block body %}
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Study in Europe</h1>
                </div>
            </div>
        </div>
    </div>
</section>

<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="single-post-content">
                        <div class="container">
                            <div class="post-thumb">
                                <img src="{% static 'assets/images/about/country/france.png' %}" alt="" class="img-fluid">
                            </div>
                            <h3 class="post-titie">WHY STUDY IN Europe?</h3>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}