{% extends 'base.html' %}
{% load static %}
{% block keywords %}university in abroad,university name,college or university,university of hyderabad entrance exam,university ranking,university of hyderabad,university in india,osmania university,kashmir university,college or university,university name,university of toronto,university of michigan,university of oxford,university of cambridge,university of york,university of calicut,university of mumbai,university of kerala,university of delhi,university of punjab,open university,liberty university,columbia university,boston university,duke university,brown university,american university,purdue university,cornell university,george washington university{% endblock keywords %}
{% block description %}Meet University Representatives and discuss your study prospects, campus life and more.{% endblock description %}
{% block title %}Universities {% endblock title %}
{% block body %}
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Shortlisting of Universities</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="single-post-content">
                        <div class="container">
                            <h3 class="blog-title">WISH ABROAD Shortlists The University As Per The Following Criteria:-</h3>
                            <br>
                            <h4>Ranking of Institution:-</h4>
                            <p>Although the ranking methodology varies and it differs as per the ranking institution, it does provide an insight into the quality of Institution. We always keep it in our foresight while selecting the Universities.</p>
                            <br>
                            <h4>Accreditation of the Institution:-</h4>
                            <p> This is amongst the most important factor in selection of the universities. It reflects the quality of institution and recognition of degree. Wish Abroad ensures that we apply to only recognized, well accredited institutions.</p>
                            <br>
                            <h4>Academic Percentage [Last Qualification]:-</h4>
                            <p> A very important factor in selection of university, as it reflects the performance of the student in his area of study. Most of the universities focus on this as this is the foundation based on which they would base their further studies. </p>
                            <br>
                            <h4>Scores in Entrance Exams [GRE/GMAT/SAT/TOEFL/IELTS/PTE]:- </h4>
                            <p>There are 2 types of Entrance exams 1) English Proficiency [TOEFL/ IELTS/ PTE] 2) Other Prerequisite Exams like GRE/ GMAT/ SAT. Most of the Universities have very strict conditions for English requirements and would offer English classes in cases of less scores. However, GRE/GMAT/SAT requirements is taken in conjunction with Academic scores.</p>
                            <br>
                            <h4>Budget:-</h4>
                            <p>Before selection of the schools we normally speak to student’s parents to get an estimate about the tuition fee budget. While shortlisting we ensure that we adhere to the budget.</p>
                            <br>
                            <h4>Location:-</h4>
                            <p>We ask the students if they have a specific location choice in the chosen country. We try to select universities in the vicinity of the location.</p>
                            <br>
                            <h4>Opportunities for Scholarships/Assistantships:-</h4>
                            <p> Many universities offer Scholarships/ Assistantships/Tuition Waiver for the students. We always inform the same to the students and inform them about the procedures for it.</p>
                            <br>
                            <h4>Campus Safety:-</h4>
                            <p>Safety is paramount and a major worry for students and parents. We ensure that all the City, university and nearby areas are safe and don’t have any history of violence.</p>
                            <br>
                            <h4>Internships:-</h4>
                            <p>Internships gives the students to get real time work experience in a foreign country the student’s areas of expertise. Many universities have a tie-up with industry wherein they collaborate to provide the same.</p>
                            <br>
                            <h4>Opportunities for Part Time Jobs:-</h4>
                            <p>Most of the students look for an opportunity to work part-time while studying. Part time is allowed only on campus in USA, so we look for campuses which are large enough to have opportunities for on campus jobs. Other Countries offer off-campus jobs, so ideally we focus on locations which have opportunities for it.</p>
                            <br>
                            <h4>Feedback from Existing Students and Alumni:-</h4>
                            <p>It’s always the best way to know first hand about a particular institution. We ensure that we are in touch with existing students who are studying there and give realtime feedback to prospective students.</p>
                            <br>
                            <h4>Weather:-</h4>
                            <p> We provide the information about the prevailing weather conditions over there as many students aren’t able to tolerate extreme cold.</p>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}