{% extends 'base.html' %}
{% load static %}
{% block keywords %}visa process for us,visa process for uk,indian visa processing time,visa process in india,steps for visa processing canada,visa india,indian visa fees,is india issuing tourist visas,visa process in india,visa process for uk,visa process for us,indian visa processing time,steps for visa processing canada,indian visa fees,Keyword,visa process for canada,visa process for uk,visa process uae,visa process for us,visa process for dubai,visa process for usa from india,visa process for germany,visa process for australia,visa process for uk from india,canada visa process,k1 visa process,h1b visa process,uk visa process,canada student visa process,uk student visa process,visa processing times,visa processing time canada,visa processing times australia,visa processing,visa k1 process,visa h1b process,visa processing time for uk,visa processing prepaid{% endblock keywords %}
{% block description %}Wish Abroad Education Agency provides expert student visa services who are looking for study in USA, UK, Australia, Canada, Germany and more.{% endblock description %}
{% block title %}Visa Processing{% endblock title %}
{% block body %}
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Admission Requirements</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="single-post-content">
                        <div class="container">
                           <p>Visa Guidance: After receiving the confirmation of admission, the student needs to apply for Study Visa/ Permit to the respective embassies. We at Wish Abroad facilitate the same by providing:</p>
                            <p><b>Guidelines of Financial Requirements:- </b>Every Country has their specific requirements for living and tuition expenses. We at Wish Abroad ensure that a proper explanation for the same is given to the students and his sponsors. We also verify the documents to ascertain its authenticity and ensure its adhere to the visa requirements.
                            </p>
                            <p><b>Assistance in Filling Visa Forms:- </b>We assist the students to fill in the visa forms as per the country’s procedure. Some of them have online and others have paper based forms.</p>
                            <p><b>Procedure for Arrangement of Documents:-</b>:Every country has a separate procedure for visa, some have online submissions, some have unperson submissions and others have a personal interview. We at Wish Abroad guide the students through every step to ensure a hassle-free process.
                            </p>
                            <blockquote>
                            <p>MOCK INTERVIEW SESSIONS:- As part of visa procedures many embassies conduct via interviews via Phone, Skype or in person. We at Wish Abroad A decipher the interview process through carefully programmed sessions in which we provide the students with requisite tools and information required. We also conduct mock sessions to enable students to practice their replies and get over nervousness and anxiety.</p>
                            </blockquote>
                            <div class="post-thumb">
                                <img src="{% static 'assets/images/about/visa.jpg' %}" alt="" class="img-fluid">
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}