{% extends 'base.html' %}
{% load static %}
{% block keywords %}vision and mission,5 difference between vision and mission,mission and vision of a company,vision and mission difference,what is mission,mission vision values,vision and mission of school,vision and mission,vision and mission statement examples,vision and mission statement,vision and mission statements of companies,vision and mission difference,vision and mission of school,
vision and mission of deped,vision and mission of amazon,vision and mission of apple,vision and mission of nestle,difference between mission and vision,what is the vision and mission statement of the organization,deped mission vision,amazon mission and vision,difference between mission and vision statement,company mission and vision,apple mission and vision,mission and vision,example of mission and vision,mission vision{% endblock keywords %}
{% block description %}The Most Trusted Mentor for Your Education Abroad, Vision &amp; Mission - Wish Abraod Education Agency{% endblock description %}
{% block title %}Vission &amp; Mission {% endblock title %}
{% block body %}
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Vission Mission</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="single-post-content">
                        <h3 class="post-title">VISION:-</h3>
                        <p>To become the leading educational consultant in India for students aspiring for Bachelors/ Masters/ Phd/ Post Doctorate programs in USA/UK/Canada and Australia.</p>
                        <br>
                        <h3 class="post-title">MISSION:-</h3>
                        <blockquote>
                            <p>To provide accurate, unbiased, ethical, updated information to students looking for Higher educational abroad. To ensure that our services caters to every student irrespective of their geographical location. </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}