{% extends 'base.html' %}
{% load static %}
{% block keywords %}types of counselling,counselling courses,free counselling,counselling for students,counselling or counseling,counselling online,counselling wikipedia,counselling centre near me,counselling directory,counselling courses,counselling near me,counselling meaning,counselling meaning in hindi,counselling for neet 2020,counselling relationship,counselling neet ug 2021,counselling dates for ap eamcet 2021,counselling neet,josaa counselling,marriage counselling,neet counselling 2020,relationship counselling,career counselling,neet counselling 2021,ap eamcet counselling,ts eamcet counselling,icar counselling,tnea counselling{% endblock keywords %}
{% block description %}Wish Abroad Education Agency is rapidly growing EdTech Company in India, Bangladesh, Malaysia, Nepal, Nigeria, Sri Lanka and Vietnam. Helping students to study abroad. {% endblock description %}
{% block title %}Wish Abroad Counselling {% endblock title %}
{% block body %}
<section class="page-header">
    <div class="container">
        <div class="row justify-content-center">
            <div class="col-lg-8 col-xl-8">
                <div class="title-block">
                    <h1>Wish Abroad Counselling</h1>
                </div>
            </div>
        </div>
    </div>
</section>
<div class="page-wrapper">
    <div class="container">
        <div class="row">
            <div class="col-lg-12 col-xl-12">
                <div class="post-single">
                    <div class="single-post-content">
                        <div class="post-thumb">
                            <img src="{% static 'assets/images/about/counselling.jpg' %}" alt="" class="img-fluid">
                        </div>
                        <h3 class="post-title">CAREER COUNSELING:-</h3>
                        <blockquote>
                           <p>Most of the students are in a dilemma about various career options to choose especially after intermediate and under graduation. We have made an exhaustive list of course for most of the Qualifications & specializations Click Here. We Provide the information and compare various countries based on Quality of Study/ Programs Available/ Future Prospects/ Costs / Recognition of Degree etc.
                            </p>
                        </blockquote>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock body %}